/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

table {
  padding: 10px;
}

body {
  background-color: cyan;
}

.logo {
  font-family: arial;
}

.bookCircle {
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(55,55,55,.25);
  color: #fff;
  text-decoration: none;
  width: 150px;
  height: 150px;
  transition: ease 400ms;
  text-align: center;
  top: 50%;
  color: black;

  .innerText {
  position: absolute;
  top: 21%;
  left: 9%;
  }
}


@import 'bootstrap-custom';






