/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

table {
  padding: 10px;
}

body {
  background-color: green;
}

.logo {
  font-family: arial;
}

.bookCircle {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(55,55,55,.25);
  color: #fff;
  text-decoration: none;
  width: 200px;
  height: 200px;
  transition: ease 400ms;
  text-align: center;
  top: 50%;
  color: black;
  background-color: green;

  .innerText {
  position: relative;
  top: 40%
  }
}

.articleCircle {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(55,55,55,.25);
  color: #fff;
  text-decoration: none;
  width: 200px;
  height: 200px;
  transition: ease 400ms;
  text-align: center;
  top: 50%;
  color: black;
  background-color: blue;

  .innerText {
  position: relative;
  top: 40%
  }
}

.podcastCircle {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(55,55,55,.25);
  color: #fff;
  text-decoration: none;
  width: 200px;
  height: 200px;
  transition: ease 400ms;
  text-align: center;
  top: 50%;
  color: black;
  background-color: green;

  .innerText {
  position: relative;
  top: 40%
  }
}

.navLinks {
  margin-right: -15px;
  margin-left: -15px;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

.header {
  background-color: #E8E8E8;
}

.booklist {
  padding: 20px;
}

.articles {
  padding: 20px;
}

.podcasts {
  padding: 20px;
}

@import 'bootstrap-custom';






